<template>
    <div >
        <div class="row">
        <div class="col-lg-3">
        <h4>Articles</h4>
        </div>
        <div class="col-lg-9 float-right">
            <a href="/articles/create"><button type="button" class="btn btn-primary pull-right">Create</button></a>
            <button type="button" class="btn btn-danger pull-right" @click="deleteArticles()">Delete</button>
        </div>
        </div>
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(article, index) in articles" v-bind:key="index">
                    <th scope="row">
                        <input type="checkbox" :value="article.id" v-model="checkedIds">
                        {{index+1}}
                    </th>
                    <td>{{article.name}}</td>
                    <td>{{article.description}}</td>
                    <td>
                        <a :href="'/articles/update/'+article.id"><button class="btn btn-primary">Edit</button></a>
                    </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
import axiosInstance from '../axios-config'
export default {
  data () {
    return {
      articles: [],
      checkedIds: []
    }
  },
  created () {
    this.getArticles()
  },
  methods: {
    getArticles () {
      var self = this
      axiosInstance.post('articles/list/', {})
        .then((response) => {
          self.articles = response.data.result
        })
        .catch(function () {})
    },
    deleteArticles () {
      var self = this
      if (self.checkedIds.length > 0) {
        axiosInstance({
          url: 'articles/destroy/',
          method: 'DELETE',
          data: { ids: self.checkedIds }
        })
          .then((response) => {
            self.$swal('Articles deleted')
            this.getArticles()
          })
          .catch(function () {})
      } else {
        self.$swal('Select Articles to delete')
      }
    }
  }
}
</script>
