<template>
    <div class="d-flex justify-content-between" >
        <form>
            <h4>Create Article</h4>
            <hr>
            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input v-model="name" type="text" class="form-control" placeholder="Enter title">
            </div>
            <div class="text-danger" v-if="!$v.name.required">
                Title is required
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea v-model="description" class="form-control" placeholder="Enter Description"></textarea>
            </div>
            <div class="text-danger" v-if="!$v.description.required">
                Description is required
            </div>
            <button type="button" class="btn btn-primary" @click="createArticle()">Submit</button>
        </form>
    </div>
</template>
<script>
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import {
  required
} from 'vuelidate/lib/validators'
import axiosInstance from '../axios-config'
import router from '../router/index'
Vue.use(Vuelidate)
export default {
  data () {
    return {
      name: '',
      description: ''
    }
  },
  validations () {
    return {
      name: {
        required
      },
      description: {
        required}
    }
  },
  methods: {
    createArticle () {
      var self = this
      if (!self.$v.$invalid) {
        axiosInstance.post('articles/store/', {
          name: self.name,
          description: self.description
        })
          .then((responsedata) => {
            var response = responsedata.data
            if (response.status === 'success') {
              self.$swal(response.message)
              router.push(
                {
                  name: 'Articles'
                }
              )
            } else {
              console.log(response.message)
              self.$swal(response.message)
            }
          })
          .catch(function () {})
      }
    }

  }
}
</script>
