<template>
    <div>
        <div class="signup-form" >
            <form action="#" method="post">
                <h2>Forgot Password</h2>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-paper-plane"></i>
                            </span>
                        </div>
                        <input v-model="email" type="email" class="form-control" name="email" placeholder="Email Address" required="required">
                    </div>
                    <div class="text-danger" v-if="!$v.email.required">
                        Email is required
                    </div>
                    <div class="text-danger" v-if="!$v.email.email">
                        Email is not valid
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-lg" @click="forgotPassword()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import {
  required,
  email
} from 'vuelidate/lib/validators'
import axiosInstance from '../axios-config'
import router from '../router/index'
Vue.use(Vuelidate)
export default {
  data () {
    return {
      email: ''
    }
  },
  validations () {
    return {
      email: {
        required,
        email
      }
    }
  },
  methods: {
    forgotPassword () {
      var self = this
      if (!self.$v.$invalid) {
        axiosInstance.post('auth/forgot-password/', {
          email: self.email,
          password: self.password
        })
          .then(function (responsedata) {
            var response = responsedata.data
            if (response.status === 'success') {
              self.$swal(response.message)
              router.push(
                {
                  name: 'Login'
                }
              )
            } else {
              console.log(response.message)
              self.$swal(response.message)
            }
          })
          .catch(function (error) {
            console.log(error)
            self.$swal('Something Wrong')
          })
      }
    }
  }
}
</script>
<style scoped>
.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}
</style>
