<template >
    <div>
        <div class="signup-form">
            <form action="#" method="post">
                <h2>Login</h2>
                <p>Please fill in this form to Login!</p>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-paper-plane"></i>
                            </span>
                        </div>
                        <input type="email" v-model="email" class="form-control" name="email" placeholder="Email Address" required="required">
                    </div>
                    <div class="text-danger" v-if="!$v.email.required">
                        Email is required
                    </div>
                    <div class="text-danger" v-if="!$v.email.email">
                        Email is not valid
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="text" v-model="password" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                    <div class="text-danger" v-if="!$v.password.required">
                        Password is required
                    </div>
                    <div class="text-danger" v-if="!$v.password.minLength">
                        Password should be minimum 6
                    </div>
                    <div class="text-danger" v-if="!$v.password.maxLength">
                        Password should be maximum 50
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-lg" @click="login()">Login</button>
                </div>
            </form>
            <div class="text-center">Forgot your password? <a href="/forgot">Click here</a></div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import {
  required,
  email,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'
import axiosInstance from '../axios-config'
import router from '../router/index'
Vue.use(Vuelidate)
export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  validations () {
    return {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(50)
      }
    }
  },
  methods: {
    login () {
      var self = this
      if (!self.$v.$invalid) {
        axiosInstance.post('auth/login/', {
          email: self.email,
          password: self.password
        })
          .then(function (responsedata) {
            var response = responsedata.data
            if (response.status === 'success') {
              localStorage.setItem('user', JSON.stringify(response.result))
              self.$swal(response.message)
              router.push(
                {
                  name: 'Articles'
                }
              )
            } else {
              console.log(response.message)
              self.$swal(response.message)
            }
          })
          .catch(function (error) {
            console.log(error)
            self.$swal('Something Wrong')
          })
      }
    }
  }
}
</script>
<style scoped>
.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}
</style>
