<template>
    <div >
        <div class="signup-form">
            <form action="#" method="post">
                <h2>Reset Password</h2>
                <p>Please fill in this form to reset your account password!</p>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <input type="hidden" v-model="email" class="form-control" name="username" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="text" v-model="password" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                    <div class="text-danger" v-if="!$v.password.required">
                        Password is required
                    </div>
                    <div class="text-danger" v-if="!$v.password.minLength">
                        Password should be minimum 6
                    </div>
                    <div class="text-danger" v-if="!$v.password.maxLength">
                        Password should be maximum 50
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                                <i class="fa fa-check"></i>
                            </span>
                        </div>
                        <input type="text" v-model="password_confirmation" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
                    </div>
                    <div class="text-danger" v-if="!$v.password_confirmation.required">
                        Confirm Password is required
                    </div>
                    <div class="text-danger" v-if="!$v.password_confirmation.minLength">
                        Confirm Password should be minimum 6
                    </div>
                    <div class="text-danger" v-if="!$v.password_confirmation.maxLength">
                        Confirm Password should be maximum 50
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-lg" @click="resetPassword()">Submit</button>
                </div>
            </form>

        </div>
    </div>
</template>
<script>
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import {
  required,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'
import axiosInstance from '../axios-config'
import router from '../router/index'
Vue.use(Vuelidate)
export default {
  data () {
    return {
      email: '',
      password: '',
      password_confirmation: ''
    }
  },
  validations () {
    return {
      password: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(50)
      },
      password_confirmation: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(50)
      }
    }
  },
  methods: {
    resetPassword () {
      var self = this
      if (!self.$v.$invalid) {
        axiosInstance.post('auth/set-password/', {
          link: self.email,
          password: self.password,
          password_confirmation: self.password_confirmation
        })
          .then(function (responsedata) {
            var response = responsedata.data
            if (response.status === 'success') {
              self.$swal(response.message)
              router.push(
                {
                  name: 'Login'
                }
              )
            } else {
              console.log(response.message)
              self.$swal(response.message)
            }
          })
          .catch(function (error) {
            console.log(error)
            self.$swal('Something Wrong')
          })
      }
    }
  },
  mounted () {
    if (this.$route.params.email !== '') {
      this.email = this.$route.params.email
    }
  }
}
</script>
<style scoped>
.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}
</style>
