<template>
<div>

    <auth-content> </auth-content>
</div>
</template>
<script>
import AuthContent from './Content.vue'
export default {
  name: 'Reveal',
  data: () => ({
    menuVisible: false
  }),
  components: {
    AuthContent
  }
}
</script>
