<template>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/articles">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" @click="logout()">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container mt-5" style="min-height:700px">

    <div class="row">

      <!-- /.col-lg-3 -->

      <div class="col-lg-12">

        <dashboard-content> </dashboard-content>

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</div>
</template>
<script>
import DashboardContent from './Content.vue'
import router from '../router/index'
export default {
  name: 'Reveal',
  data: () => ({
    menuVisible: false
  }),
  components: {
    DashboardContent
  },
  methods: {
    logout () {
      localStorage.removeItem('user')
      router.push(
        {
          name: 'Signup'
        }
      )
    }
  }
}
</script>
<style>
body {
  padding-top: 56px;
}

</style>
